<!-- <div>
    <button class="btn btn-info m-2" routerLink="./">Back to patient</button>
    <button class="btn btn-info m-2" routerLink="make-an-appointment">Make an Appointment</button>
</div> -->
<table class="table table-primary" *ngIf="doctor else loading">
    <thead>
        <tr>
            <th>Name</th>
            <th>specialization</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{doctor.name}}</td>
            <td>{{doctor.specialization}}</td>
        </tr>
    </tbody>
</table>
<ng-template #loading>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Name</th>
                <th>specialization</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <app-loading></app-loading>
</ng-template>
<nav mat-tab-nav-bar backgroundColor="accent" [tabPanel]="tabPanely" mat-stretch-tabs="false" mat-align-tabs="start">
    <a routerLink="./schedule" mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        Schedule
    </a>
    <!-- <a routerLink="./make-an-appointment" mat-tab-link routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive">
        Make an Appointment
    </a> -->
</nav>
<mat-tab-nav-panel #tabPanely></mat-tab-nav-panel>
<router-outlet></router-outlet>