<h1 color="primary">Make an Appointment <span><i class="bi bi-calendar-plus"></i></span></h1>
<form *ngIf="specializations" [formGroup]="appForm" class="m-2">
    <div class="d-flex">
        <div class="m-2">
            <!--label for="" class="d-block form-label">Select doctor specialization:</label>
            <select name="" id="" formControlName="specializationId" (change)="getDoctors()" class="form-select w-auto">
                <option *ngFor="let s of specializations" [ngValue]="s.id">{{s.name}}</option>
            </select-->
            <mat-form-field>
                <mat-label>Doctor specialization</mat-label>
                <mat-select [formControl]="appForm.controls.specializationId" (selectionChange)="getDoctors()">
                    <mat-option *ngFor="let s of specializations" [value]="s" required>{{s.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="appForm.controls.specializationId.hasError('required')">Please choose a doctor
                    specialization</mat-error>
                <mat-hint>{{appForm.controls.specializationId.value?.id}}</mat-hint>
            </mat-form-field>
        </div>

        <!--div>doctors {{doctors | json}}</div-->
        <div *ngIf="doctors" class="m-2">
            <label for="" class="d-block form-label">Select doctor:</label>
            <select name="" id="" formControlName="doctorId" class="form-select w-auto" (change)="getSchedule()">
                <option *ngFor="let d of doctors" [ngValue]="d.id">{{d.name}}</option>
            </select>
        </div>
    </div>

    <div class="d-flex flex-wrap">
        <div *ngFor="let wd of schedule" class="m-2">
            <table class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th>{{wd.date | date:"EEEE dd/MM/YYYY"}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of wd.appointments" [class]="a.patientId?'table-danger':'table-success'">
                        <td class="p-0">
                            <button class="btn rounded-0 w-100 border-0" [disabled]="a.patientId" (click)="makeApp(a)">
                                {{a.begin}} - {{a.end}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>