<h1>Patients <mat-icon color="accent">group</mat-icon> <mat-icon color="primary">group</mat-icon></h1>
<!--table class="table table-info table-hover" *ngIf="patients else loading">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of patients" [routerLink]="''+p.id">
            <td>{{p.name}}</td>
            <td>{{p.id}}</td>
            <td>{{p.dateOfBirth | date:"dd/MM/YYYY"}}</td>
            <td>{{p.gender}}</td>
            <td>{{p.address}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.email}}</td>
        </tr>
    </tbody>

</table-->
<form [formGroup]="formData" (ngSubmit)="goToPatient(formData.controls['patientId'].value)">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Enter Patient ID number</mat-label>
    <input type="number" name="patientid" matInput placeholder="E.G. 123456789" [formControlName]="'patientId'">
    <mat-icon matSuffix>perm_identity</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
    <mat-error>This is a required field</mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" class="m-2">Go</button>
</form>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
<table mat-table [dataSource]="patients" class="mat-elevation-z8" *ngIf="patients;else loading">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="Date of Birth">
    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:"dd/MM/YYYY"}} </td>
  </ng-container>

  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="Email" matRipple class="mat-elevation-z4">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="fw-bold"></tr>

  <tr mat-row (click)="goToPatient(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>