<h1>Appointments <span><i class="bi bi-calendar3"></i></span></h1>
<table class="table table-info table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Created on</th>
            <th>Doctor</th>
            <th>Specialization</th>
        </tr>
    </thead>
    <tbody *ngIf="patient else loading">
        <tr *ngFor="let a of patient.appointments">
            <td>{{a.date | date:"EEEE, dd/MM/YYYY"}}</td>
            <td>{{a.begin.substr(0,5)}} - {{a.end}}</td>
            <td>{{a.createdDate | date:"dd/MM/YYYY"}}</td>
            <td>{{a.doctorName}}</td>
            <td>{{a.specialization}}</td>
        </tr>
    </tbody>
    <ng-template #loading><app-loading></app-loading></ng-template>
    
</table>