
<table class="table table-primary">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="patient">
            <td>{{patient.name}}</td>
            <td>{{patient.id}}</td>
            <td>{{patient.dateOfBirth | date:"dd/MM/YYYY"}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.address}}</td>
            <td>{{patient.phone}}</td>
            <td>{{patient.email}}</td>
        </tr>
    </tbody>
</table>
<h1>Appointments</h1>
<table class="table table-info table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Patient ID</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Created on</th>
            <th>Cancelled on</th>
            <th>Begin</th>
            <th>End</th>
            <th>WorkDay ID</th>
            <th>Doctor ID</th>
            <th>Doctor Name</th>
            <th>Doctor Specialization</th>
        </tr>
    </thead>
    <tbody *ngIf="patient">
        <tr *ngFor="let a of patient.appointments">
            <td>{{a.id}}</td>
            <td>{{a.patientId}}</td>
            <td>{{a.subject}}</td>
            <td>{{a.description}}</td>
            <td>{{a.createdDate}}</td>
            <td>{{a.cancelledDate}}</td>
            <td>{{a.begin}}</td>
            <td>{{a.end}}</td>
            <td>{{a.workDayId}}</td>
            <td>{{a.doctorId}}</td>
            <td>{{a.doctorName}}</td>
            <td>{{a.specialization}}</td>
        </tr>
    </tbody>
</table>